:root {
    --primary-background-color: #14120b;
    --secondary-background-color: #1b1913;
    --primary-text-color: #edecec;
    --secondary-text-color: #999999bf;
    --link-text-color: #f54e00;
}

@font-face {
    font-family: "CursorGothic";
    src: url("./assets/font/CursorGothic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "CursorGothic", sans-serif;
    background-color: var(--primary-background-color);
}

header,
main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header nav {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 95.37px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: normal;
    padding-inline: 15px;
}

.intro-section {
    padding: 112px 0 67.2px;
}

.intro-section h1 {
    max-width: 600px;
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 22.4px;
}

.intro-section img {
    margin-top: 56px;
}

.company-logos h2 {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 22.4px;
}

.grid-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 14px;
}

.grid-section img {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background-color);
    padding: 20px 30px;
    border-radius: 5px;
}

.features {
    margin: 80px 0;
    line-height: 1.2;
}

.feature-one,
.feature-two,
.feature-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 17.5px;
    margin-bottom: 60px;
}

.feature-text-one,
.feature-text-three {
    padding-right: 40px;
}

.feature-text-two {
    padding-left: 40px;
}

.feature-one h3,
.feature-two h3,
.feature-three h3 {
    font-size: 22px;
    color: var(--primary-text-color);
    font-weight: normal;
}

.feature-one p,
.feature-two p,
.feature-three p {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.feature-one a,
.feature-two a,
.feature-three a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

.feature-one img,
.feature-three img {
    border-radius: 5px;
}

.testimonial {
    margin-bottom: 60px;
}

.testimonial h2 {
    padding: 30px 0;
    text-align: center;
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: normal;
}

.testimonial-card-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

.testimonial-card {
    background: var(--secondary-background-color);
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

blockquote {
    color: var(--primary-text-color);
    font-weight: normal;
    flex-grow: 1;
}

.img-container img {
    border-radius: 5px;
}

.card-footer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 15px;
}

.card-footer .card-text h4 {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 3px;
}

.card-footer .card-text p {
    color: var(--secondary-text-color);
    font-weight: normal;
    line-height: 1.2;
    font-size: 14px;
}

.frontier {
    margin: 120px 0;
}

.frontier h2 {
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 23px;
}

.frontier-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.frontier-grid-card {
    background: var(--secondary-background-color);
    padding: 16px 18px;
    border-radius: 5px;
}

.frontier-grid-card h3 {
    color: var(--primary-text-color);
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

.frontier-grid-card p {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.frontier-grid-card a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

.frontier-grid-card img {
    margin-top: 20px;
    border-radius: 5px;
}

.changelog {
    margin: 120px 0;
}

.changelog h2 {
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 23px;
}

.changelog-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog-grid-card {
    background: var(--secondary-background-color);
    padding: 16px 18px;
    border-radius: 5px;
}

.changelog-grid-card h3 {
    color: var(--primary-text-color);
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

.changelog-grid-card p {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.changelog-grid-card a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

.changelog .chip {
    display: flex;
    gap: 10px;
    align-items: center;
}

.chip p:nth-child(1) {
    border: 1px solid;
    border-color: #999999bf;
    color: #999999bf;
    border-radius: 3.40282e38px;
    padding: .28em .65em .29em;
    line-height: 1;
    display: inline-flex;
    position: relative;
    font-size: 14px;
}

.changelog-grid-card {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}

p.subline {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.changelog a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

.join-us h3 {
    margin-bottom: 20px;
}

.recent-highlights {
    background-color: var(--secondary-background-color);
    width: 100vw;
    padding: 90px 20px;
}

.recent-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: 1300px;
    margin: 0 auto;
}

.side-title {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: normal;
    line-height: 1.2;
}

.highlight-card {
    grid-area: 1 / 2 / 2 / 4;
}

.card {
    background: #201e18;
    padding: 16px 18px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.card p:first-child {
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: normal;
    line-height: 1.2;
}

.card p:nth-child(2) {
    font-size: 16px;
    color: var(--secondary-text-color);
    font-weight: normal;
    line-height: 1.2;
    margin: 5px 0 30px 0;
}

.card p:last-child {
    font-size: 16px;
    color: var(--secondary-text-color);
    font-weight: normal;
    line-height: 1.2;
}

.highlight-card a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

div.link {
    margin-top: 30px;
}

.download {
    padding: 100px 0;
    text-align: center;
}

.download h2 {
    font-size: 72px;
    color: var(--primary-text-color);
    font-weight: normal;
}

footer {
    background: var(--secondary-background-color);
    padding: 67px 20px 30px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1300px;
    margin: 0 auto;
    font-weight: normal;
}

.footer-links ul li {
    list-style: none;
    margin-bottom: 5px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
}

.footer-links ul li:first-child a {
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links ul li:first-child {
    margin-bottom: 10px;
}

.copyright {
    max-width: 1300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: normal;
}

.right-side-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.three-btn {
    background-color: #26241E;
    border-radius: 25px;
    color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three-btn :first-child {
    background-color: #3a3833;
    border-radius: 20px;
}

.three-btn div {
    padding: 5px 10px;
}

.language-btn {
    background-color: #26241E;
    border-radius: 25px;
    color: #DCDCDC;
    padding: 7px 10px;
    font-weight: normal;
    font-size: 14px;
}

.download-btn {
    background: #fff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 25px;
    border: none;
}

.signin {
    border-radius: 25px;
    background: var(--primary-background-color);
    padding: 6px 11px;
    border: 1px solid;
    border-color: var(--primary-text-color);
    color: #DCDCDC;
    margin-right: 5px;
}

.nav-download {
    border-radius: 25px;
    padding: 6px 11px;
    border: none;
}