:root {
    --primary-background-color: #14120b;
    --secondary-background-color: #1b1913;
    --primary-text-color: #edecec;
    --secondary-text-color: #999999bf;
    --link-text-color: #f54e00;
}

@font-face {
    font-family: "CursorGothic";
    src: url("./assets/font/CursorGothic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "CursorGothic", sans-serif;
    background-color: var(--primary-background-color);
}

header,
main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header nav {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 95.37px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: normal;
    padding-inline: 15px;
}

.intro-section {
    padding: 112px 0 67.2px;
}

.intro-section h1 {
    max-width: 600px;
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 22.4px;
}

.intro-section img {
    margin-top: 56px;
}

.company-logos h2 {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 22.4px;
}

.grid-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 14px;
}

.grid-section img {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background-color);
    padding: 20px 30px;
    border-radius: 5px;
}

.features {
    margin: 80px 0;
    line-height: 1.2;
}

.feature-one,
.feature-two,
.feature-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 17.5px;
    margin-bottom: 60px;
}

.feature-text-one,
.feature-text-three {
    padding-right: 40px;
}

.feature-text-two {
    padding-left: 40px;
}

.feature-one h3,
.feature-two h3,
.feature-three h3 {
    font-size: 22px;
    color: var(--primary-text-color);
    font-weight: normal;
}

.feature-one p,
.feature-two p,
.feature-three p {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.feature-one a,
.feature-two a,
.feature-three a {
    color: var(--link-text-color);
    font-size: 16px;
    text-decoration: none;
}

.feature-one img,
.feature-three img {
    border-radius: 5px;
}